.Chessboard
{
  padding:10px;
  background-color: #5A79B1;
  border:5px solid black;
}

.Tile {
  height: 6vw;
  width: 6vw;
	background-color: #D2AEAE;
}

.Tile.black {
	background-color: black;
}
.Tile.highlight {
  background-color: yellow;
  -webkit-box-shadow: 0px 0px 25px 10px #ffa;
  box-shadow: 0px 0px 25px 10px #ffa;
}
.Tile:hover {
  background-color: tomato;
}

