.Chessboard
{
  padding:10px;
  background-color: cornflowerblue;
  border:7px solid black;
  box-shadow: 20px 20px 20px rgba(0,0,0,.5);
}

@media (min-width: 768px) {
  .new-container {
    height: 60vmin;
    width: 60vmin;
    transition: 0.5s;
  }

  .Tile {
    height: 6vmin;
    width: 6vmin;
    background-color: white;
    font-size: 4vmin;
    font-weight: bolder;
    text-align: -webkit-center;
  }

  .img-size {
    max-width: 300px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .new-container {
    height: 100vmin;
    width: 100vmin;
    transition: 0.5s;
  }

  .Tile {
    height: 11vw;
    width: 11vw;
    background-color: white;
    font-size: 7vw;
    font-weight: bolder;
    text-align: -webkit-center;
  }
}

.align-row {
  padding-left: 4vw;
}


.Tile.black {
	background-color: black;
}
.Tile.highlight {
  background-color: chocolate;
  -webkit-box-shadow: 0px 0px 25px 10px #fff;
  box-shadow: 0px 0px 25px 10px #fff;
}
.Tile.lowlight {
  background-color: cadetblue;
  -webkit-box-shadow: 0px 0px 25px 10px #fff;
  box-shadow: 0px 0px 25px 10px #fff;
}
.Tile:hover {
  background-color: tomato;
}

